.page-hero:before {
    background-color:transparent;
  }

svg{
    width: 35px;
    height: 35px;
}
.search-input{
 display: inline-flex;
padding: 15px 20px 15px 20px;
flex-direction: row;
border-radius: 10px;
background: #FFF;
margin-top: 20px;
}

.search-input input{
width: auto;
color:#9D9D9D;
font-size: 18px;
font-weight: 600;
line-height: 32px; 
border: none;
outline: none;
padding-left: 10px;

}

.search-input svg{
    width: 24px;
    height: 24px;
    
}
.search-input svg:hover{
    cursor: pointer;
}






.support-lead-text{
line-height: 25px !important;
}
.display-flex{
    display: flex;
    align-items:start;
    gap: 30px;
}

.content-flex{
    display: flex;
    align-items: center;
    padding-top: 15px;
}


.content-top{
    padding-top: 90px;
}
.side{
    width: auto;
height: 336px;
flex-shrink: 0;
border-radius: 10px;
background: #E7E9FA;
padding: 50px;

}
/* .side .lead-text{
    font-size: 30px;
}

.side .p-text{
    font-size: 18px;
    padding-top: 20px;
} */

.side button{
    display: flex;
width: 305px;
padding: 14px 33px;
justify-content: center;
align-items: center;
border: none;
margin-top: 40px;
}
.side button .btn-text{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 240% */
}

@media (min-width: 768px) and (max-width: 1199px)  {

    .side{
        width: auto;
    height: auto;
    
    }
    .side .lead-text{
        font-size: 30px;
    }
    
    .side .p-text{
        font-size: 18px;
        padding-top: 20px;
    }
    
    .side button{
        display: flex;
    width: 305px;
    padding: 12px 30px;
    margin-top: 28px;
    }
    .side button .btn-text{
        font-size: 15px;
    }
    

}

@media (max-width: 767px) {


.content-flex{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.content-top{
    padding-top: 30px;
}

svg{
   width: 32.593px;
height: 32.593px;
}
.side{
    width: 390px;
padding: 50px;

}
.bordered-top{
    border-top: 1px solid #C4C4C4; ;
}
.display-flex{
    padding-top: 40px !important;
}
.support-lead-text{
    font-weight: 700;
    }
}