.terms-page-hero:before {
    background-color: #000000 !important;
  }
/* .terms-page-hero .header-text{
    text-align: center;
} */
.term-display{
    display: flex;
}

.term-aside{
    position: sticky;
    top: 120px;
    height: 100vh;
}



.term-menu{
display: flex;
gap: 25px;
align-items: center;
padding-bottom: 30px;
}
.term-menu svg{
    width: 35px;
    height: 35px;
}
.term-menu-item{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.6px;
}

.term-main-head{
    color: #000;
font-weight: 700;
padding-bottom: 25px;
font-size: 40px;
}
.term-content-p{
color: #000;
/* font-size: 0px; */
font-style: normal;
font-weight: 400;
letter-spacing: 0.6px;
padding-top: 55px !important;
}

.term-list{
    list-style: none;
    padding-left: 0;
}
.term-list li{
    position: relative;
    padding-left: 25px;
}

.term-list li::before{
    content: "\2022";
    position: absolute;
    left: 10px;
}

.new li::before{
    content: counter(custom-counter);
}

@media (min-width: 768px) and (max-width: 1199px)  {
.page-hero .row{
    height: 50vh;
}


.term-menu{
gap: 22px;
padding-bottom: 15px;
}
.term-menu svg{
    width: 25px;
    height: 25px;
}
.term-menu-item{
font-size: 15px;
}
.term-main-head{
    
}






}

/* /content hide and show */

.content-show{
    display: none !important;
    
}

@media (max-width: 767px) {
    .term-aside{
        display: none !important;
        }
        .page-hero .row{
            height: 60vh;
        }

        .content-hide{
            display: none !important;
        }
        .content-show{
            display: block !important;
        }

        .term-menu{
            gap: 22px;
            padding-bottom: 15px;
            }
            .term-menu svg{
                width: 35px;
                height: 35px;
            }
}

